<form class="d-grid gap-2 d-md-flex justify-content-md-end" [formGroup]="searchForm">
    <div class="col">
        <input class="form-control" type="text" id="search" placeholder="Número de identificación" formControlName="search" (keyup.enter)="findPayments()">
    </div>
    <button type="button" class="btn btn-primary" (click)="findPayments()"><fa-icon [icon]="faSearch"></fa-icon> Buscar</button>
</form>
<div *ngIf="customer">
    <div class="card mt-3">
        <div class="card-body row">
            <div class="col">
                <h5 class="card-title"><fa-icon [icon]="faUser"></fa-icon> {{ customer.FirstName }} {{ customer.LastName }}</h5>
                <h6 class="card-subtitle mb-2 text-muted"><fa-icon [icon]="faIdCard"></fa-icon> {{ customer.Card }}</h6>
            </div>
            <div class="col d-flex justify-content-end">
                <button type="button" class="btn btn-success" (click)="newPayment(modal_payment)" ><fa-icon [icon]="faPlus"></fa-icon> Agregar pago</button>
            </div>
        </div>
    </div>
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>#</th>
                <th>Monto</th>
                <th>Fecha de pago</th>
                <th>Fecha de expiración</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let payment of payments; let i = index">
                <td>{{ i + 1 }}</td>
                <td>₡ {{ payment.Amount }}</td>
                <td>{{ payment.PayDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{ payment.ExpirationDate | date: 'dd/MM/yyyy'}}</td>
                <td>
                    <div *ngIf="payment.Status === 'A'" class="text-success">
                        Activo <fa-icon [icon]="faCheck"></fa-icon>
                    </div>
                    <div *ngIf="payment.Status === 'I'" class="text-danger">
                        Inactivo <fa-icon [icon]="faTimes"></fa-icon>
                    </div>
                </td>
                <td>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <button class="btn btn-outline-secondary" (click)="viewHealthCondition(modal_view_payment, payment)"><fa-icon [icon]="faEye"></fa-icon></button>
                        <button class="btn btn-outline-secondary" (click)="editPayment(modal_payment, payment)"><fa-icon [icon]="faEdit"></fa-icon></button>
                        <button *ngIf="payment.Status === 'I'" class="btn btn-outline-danger" (click)="deletePayment(payment)">
                            <fa-icon [icon]="faToggleOff"></fa-icon>
                        </button>
                        <button *ngIf="payment.Status === 'A'" class="btn btn-outline-success" (click)="deletePayment(payment)">
                            <fa-icon [icon]="faToggleOn"></fa-icon>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #modal_view_payment let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Pago</h4>
        <button type="button" class="btn-close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="card mt-3">
            <div class="card-body row">
                <div class="col">
                    <h5 class="card-title"><fa-icon [icon]="faUser"></fa-icon> {{ customer?.FirstName }} {{ customer?.LastName }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted"><fa-icon [icon]="faIdCard"></fa-icon> {{ customer?.Card }}</h6>
                </div>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-body row">
                <h6 class="card-subtitle mb-2"><fa-icon [icon]="faCalendarAlt"></fa-icon> Día de pago: {{ activePayment?.PayDate | date: 'dd/MM/yyyy' }}</h6>
                <h6 class="card-subtitle"><fa-icon [icon]="faCalendarAlt"></fa-icon> Fecha de expiración: {{ activePayment?.ExpirationDate | date: 'dd/MM/yyyy' }}</h6>
            </div>
        </div>
        <!-- <div class="card mt-3">
            <div class="card-body row">
                <h6 class="card-subtitle mb-2"><fa-icon [icon]="faCoins"></fa-icon> Altura: {{ activePayment?.Amount }} m</h6>
                <h6 class="card-subtitle mb-2"><fa-icon [icon]="faWeight"></fa-icon> Peso: {{ activeHealthCondition?.Weight }} Kg</h6>
                <h6 class="card-subtitle mb-2"><fa-icon [icon]="faBacon"></fa-icon> Porcentaje de grasa: {{ activeHealthCondition?.FatAverage }} %</h6>
                <h6 class="card-subtitle mb-2"><fa-icon [icon]="faWeightHanging"></fa-icon> Porcentaje de músculo: {{ activeHealthCondition?.MuscleAverage }} %</h6>
                <h6 class="card-subtitle mb-2"><fa-icon [icon]="faHeartbeat"></fa-icon> Índice de masa corporal: {{ activeHealthCondition?.IMC }}</h6>
                <h6 class="card-subtitle mb-2"><fa-icon [icon]="faThList"></fa-icon> Edad metabólica: {{ activeHealthCondition?.MetabolicAge }} años</h6>
            </div>
        </div> -->
        <div class="card mt-3">
            <div class="card-body row">
                <h6><fa-icon [icon]="faCoins"></fa-icon> Monto</h6>
                <p class="card-subtitle mb-2">₡ {{ activePayment?.Amount }}</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="d('Cancel click')"><fa-icon [icon]="faTimes"></fa-icon> Cerrar</button>
    </div>
</ng-template>

<ng-template #modal_payment let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Pago</h4>
        <button type="button" class="btn-close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form class="row" [formGroup]="paymentForm">
            <input type="number" formControlName="Id" hidden>
            <input type="number" formControlName="Inscription" hidden>
            <div class="col-6">
                <label for="Amount">Monto</label>
                <input type="number" class="form-control" id="Amount" formControlName="Amount">
            </div>
            <div class="col-6">
                <label for="PayDate">Fecha de pago</label>
                <input type="date" class="form-control" id="PayDate" formControlName="PayDate">
            </div>
            <div class="col-6">
                <label for="ExpirationDate">Fecha de expiración</label>
                <input type="date" class="form-control" id="ExpirationDate" formControlName="ExpirationDate">
            </div>
            <div class="col-4">
                <label for="Status">Estado</label>
                <select class="form-select" id="Status" formControlName="Status">
                    <option value="A" selected>Activo</option>
                    <option value="I">Inactivo</option>
                </select>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="savePayment()">Guardar</button>
        <button type="button" class="btn btn-outline-danger" (click)="d('Cancel click')">Cancelar</button>
    </div>
</ng-template>
