<form class="d-grid gap-2 d-md-flex justify-content-md-end" [formGroup]="searchForm">
    <div class="col">
        <input class="form-control" type="text" id="search" placeholder="Número de identificación o nombre..." formControlName="search" (keyup)="filterCustomers()">
    </div>
    <button type="button" class="btn btn-primary" (click)="filterCustomers()"><fa-icon [icon]="faSearch"></fa-icon> Buscar</button>
    <button type="button" class="btn btn-success" (click)="newCustomer(modal_customer)"><fa-icon [icon]="faPlus"></fa-icon> Nuevo</button>
</form>
<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>#</th>
            <th>Número de identificación</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ customer.Card }}</td>
            <td>{{ customer.FirstName }}</td>
            <td>{{ customer.LastName }}</td>
            <td>
                <div *ngIf="customer.Status === 'A'" class="text-success">
                    Activo <fa-icon [icon]="faCheck"></fa-icon>
                </div>
                <div *ngIf="customer.Status === 'I'" class="text-danger">
                    Inactivo <fa-icon [icon]="faTimes"></fa-icon>
                </div>
            </td>
            <td>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button class="btn btn-outline-secondary" (click)="editCustomer(modal_customer, customer)"><fa-icon [icon]="faEdit"></fa-icon></button>
                    <button *ngIf="customer.Status === 'I'" class="btn btn-outline-danger" (click)="deleteCustomer(customer)">
                        <fa-icon [icon]="faToggleOff"></fa-icon>
                    </button>
                    <button *ngIf="customer.Status === 'A'" class="btn btn-outline-success" (click)="deleteCustomer(customer)">
                        <fa-icon [icon]="faToggleOn"></fa-icon>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<ng-template #modal_customer let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Cliente</h4>
        <button type="button" class="btn-close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form class="row" [formGroup]="customerForm">
            <input type="number" formControlName="Id" hidden>
            <div class="col-8">
                <label for="Card">Número de identificación</label>
                <input type="text" class="form-control" id="Card" formControlName="Card">
            </div>
            <div class="col-4">
                <label for="Gender">Género</label>
                <select class="form-select" id="Gender" formControlName="Gender">
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                    <option value="O" selected>Otro</option>
                </select>
            </div>
            <div class="col-6">
                <label for="FirstName">Nombre</label>
                <input type="text" class="form-control" id="FirstName" formControlName="FirstName">
            </div>
            <div class="col-6">
                <label for="LastName">Apellidos</label>
                <input type="text" class="form-control" id="LastName" formControlName="LastName">
            </div>
            <div class="col-6">
                <label for="PhoneNumber">Teléfono</label>
                <input type="text" class="form-control" id="PhoneNumber" formControlName="PhoneNumber" inputPhone>
            </div>
            <div class="col-6">
                <label for="Birthday">Fecha de nacimiento</label>
                <input type="date" class="form-control" id="Birthday" formControlName="Birthday">
            </div>
            <div class="col-12">
                <label for="TrainingPlan">Plan de entrenamiento</label>
                <select class="form-select" id="TrainingPlan" formControlName="TrainingPlan">
                    <option value="" selected hidden>Sin plan</option>
                    <option *ngFor="let trainingPlan of trainingPlans" [value]="trainingPlan.Id">{{ trainingPlan.Name }}</option>
                </select>
            </div>
            <div class="col-4">
                <label for="Status">Estado</label>
                <select class="form-select" id="Status" formControlName="Status">
                    <option value="A" selected>Activo</option>
                    <option value="I">Inactivo</option>
                </select>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="saveCustomer()"><fa-icon [icon]="faSave"></fa-icon> Guardar</button>
        <button type="button" class="btn btn-outline-danger" (click)="d('Cancel click')"><fa-icon [icon]="faTimes"></fa-icon> Cancelar</button>
    </div>
</ng-template>