<form class="d-grid gap-2 d-md-flex justify-content-md-end">
    <div class="col">
        <input class="form-control" type="text" id="search" placeholder="Cédula o nombre...">
    </div>
    <button class="btn btn-primary " type="button">O Buscar</button>
    <button class="btn btn-success" type="button">+ Nuevo</button>
</form>
<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Plan de entrenamiento</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
